{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="card" style="width: 35rem;">
        <div class="card-body">
            <h5 class="card-title">Desarrollo para la IASD de Portales</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="https://github.com/ortega-isai" class="card-link">Ing.
                    Isai Ortega</a></h6>
            <p class="card-text">
                Este sitio fue creado para ayudar a oranizar las cadenas de oracion
                para consagrar a nuestros hermanos a nuestro Señor.
            </p>
        </div>
    </div>
</div>

{% endblock %}